body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-image: url(planner2.png);
  background-size: cover;
  background-position: center;
}

.display-3 {

  font-size: 4.0rem;
  font-weight: 700;
}

#currentDay {

  font-size: 3.0rem;
  font-weight: 200;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  border-left: 1px solid black;
  padding: 10px;
  font-size: 2.00rem;
  color: #080808;

}



.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;

}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

span {

  float: right;
  font-size: 0.75rem;
  margin-right: 1.0rem;
}